{{- define "video" -}}
{{ $src := .Get "src" }}
{{ $width := .Get "width" }}
{{ warnf "%s" $width }}
{{ $ext := trim (path.Ext $src) "." }}
{{ if not (hasPrefix $src "/") }}
    {{ $base_path := .Get "base_path" }}
    {{ $src = (path.Join $base_path $src) }}
{{ end }}
{{ $attrs := newScratch }}
{{ if and (not (eq $width "")) (not (eq $width nil)) }}
    {{ $attrs.Set "width" $width }}
{{ else }}
    {{ $attrs.Set "width" "100%" }}
{{ end }}
<center>
    <video {{ printf "width='%s'" ($attrs.Get "width") | safeHTMLAttr }} src="/{{$src}}" type="video/{{$ext}}" controls>
</center>
{{- end -}}
